main
	+container-fluid()
	// display: flex
	// flex-direction: column

.descr
	// display: flex
	// justify-content: center
	// margin: 0 auto

	&__wrapper
		display: flex
		flex-direction: column
		padding: 0 32px
		padding-top: 40px

	&__wrapper--photo,
	&__wrapper--form
		// position: relative
		padding: 0 20px
		padding-top: 40px
		padding-bottom: 5px


	&__header
		font-size: 18px
		text-align: center

	&__p
		font-size: 14px
		font-weight: 400
		color: #333333
		text-align: center



@media (max-width: $mobile-widths-only)
	.descr--photo,
	.descr--form
		position: relative

		&::after
			position: absolute
			content: ""
			bottom: 0
			width: 100%
			height: 1px
			background-color: #e5e5e5

@media (min-width: $tablet-widths)
	.descr
		margin-bottom: 55px

		&__wrapper
			padding-top: 50px
			margin: 0 auto
			width: 500px
			// flex-basis: 500px

		&__wrapper--photo
			width: 430px

		&__header
			font-size: 21px

	.descr__wrapper--photo .descr__header,
	.descr__wrapper--form .descr__header
		font-size: 30px
